body {
  font-family: helvetica;
}

body h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

body p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

nav {
  background-color: #f1f3ff;
}

.icon {
  margin-left: 100px;
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}

nav .nav-item button,
.hero button {
  background-color: #5cb85f;
  border: none;
  border-radius: 2px;
}

.hero {
  background-color: #f1f3ff;
  height: 500px;
}

.hero img {
  padding-top: 110px;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 700px;
  }
}

.best ul {
  list-style-type: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.why .container {
  margin-top: 100px;
}

.why h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.why p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.why .card {
  height: 250px;
  width: 18rem;
}

.testimony {
  margin-top: 80px;
}

.testimony h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.testimony > p {
  font-weight: 300;
}

.testimony .swiper-slide {
  width: 619px !important;
  height: 270px !important;
  border-radius: 8px;
  background-color: #f1f3ff;
}

.testimony .img-testimony {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 46px;
}

.testimony .text-testimony {
  width: 95%;
  margin-top: 8px;
}

.sewa .card {
  background-color: #0d28a6;
  width: 100%;
  height: 326px;
}

.sewa .card-body h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

footer .d-flex {
  text-decoration: none;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.fa-brands {
  color: #0d28a6;
}

.fa-solid {
  color: #0d28a6;
}
